.searchBar{
    background-color: rgba(185, 185, 185, 0.918);
    height: fit-content;
}

.searchBar > input {
    background-color: rgba(185, 185, 185, 0.918);
    width: 85%;
    height: 30px;
    border: none;
}

.search_btn{
    float: right;
    width: 10%;
    height: 30px;
}