html, .root {
  height: 100%;
}

body {
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header, .footer {
  background-color: whitesmoke;
  width: 98%;
  height: 10%;
}

.header {
  position: absolute;
  top: 0;
}

.main_body {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 80%;
}

.footer{
  margin: 0 0 0 1;
  border: solid ;
  position: absolute;
  bottom: 0;
}
.LoginForm {
  background-color: aliceblue;
}

.CardViewContext{
  border: solid;
}

textarea{
  margin-left: 1em;
  width: 90%;
  height: fit-content;
  resize: none;
}


.home_image{
  width: 5%;
}

