html, body, #root, .main_body, .toast, .search, .register {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width: 100%;
  height: 10%;
}

.header {
  position: absolute;
  top: 0;
}
 
.LoginForm {
  background-color: aliceblue;
}

.CardViewContext{
  border: solid;
}

textarea{
  margin-left: 1em;
  width: 90%;
  height: fit-content;
  resize: none;
}

.home > img{
  width: 70%;
  height: 100%;
}

.toast {
  color: white;
  background-color: rgba(63, 17, 17, 0.945);
}

.toast > div {
  position: absolute;
  bottom: 50%;
}